<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>gky</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <h5>自己紹介</h5>
    </div>
    <div class="row">
      <dl>
        <dt>あだ名</dt>
	<dd>がっきー</dd>
        <dt>コメント</dt>
        <dd>がんばります</dd>
      </dl>
    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/whatwg-fetch"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
