<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>vg-1day-2017</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
  <link rel="stylesheet" href="/assets/css/app.css" />
</head>
<body>
  <div id="app" class="container">
    <h1>My name is lambda</h1>
    <p>Hello world!</p>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/whatwg-fetch"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
