<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <title>vg-1day-2017</title>
</head>
<body>
  <div id="app">
    <div v-for="message in messages">
      <message
        :body="message.body"
      ></message>
    </div>
    <div>
      <input v-model="newMessage.body" placeholder="">
      <button v-on:click="sendMessage">Send</button>
    </div>
  </div>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/whatwg-fetch"></script>
  <script src="/assets/js/app.js"></script>
</body>
</html>
