.message {
  padding: 10px 10px;
  border-bottom: 1px solid #eee;
}

.message-body .action-button {
  visibility: hidden;
}

.message-body:hover .action-button {
  color: #c1c1c1;
  visibility: visible;
  cursor: pointer;
}